@import '../tools/mixis.scss';

.sport {
  &_slide {
    &_news {
      &_img {
        img {
          object-fit: cover;
          height: 10rem;
        }
      }
      &_info {
        &__title {
          &_h2 {
            font-size: 1rem;
          }
        }
        &__text {
          &_p {
            font-size: 0.8rem;
            text-align: justify;
          }
        }
        &__more {
          &_a {
            display: block;
            color: #000;
            text-align: center;
            text-decoration: none;
            padding: 10px;
            border: 1px solid;
          }
        }
      }
    }
  }
  &_news {
    &__list {
      &_ul {
        @include mq('md', max) {
          padding: 0;
        }
      }
    }

    &__li {
      display: flex;
      box-shadow: 0 0 2px;
      margin-bottom: 3%;
      cursor: pointer;
    }

    &__img {
      width: 35%;
      height: 7rem;
      padding: 2%;
      @include mq('xl', max) {
        height: 5rem;
      }

      &_preview {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__title {
      display: flex;
      align-items: center;
      width: 65%;
      text-align: justify;
      padding: 1% 4%;
      text-transform: uppercase;

      &_h6 {
        font-size: 0.9rem;
        @include mq('xl', max) {
          font-size: 0.7rem;
        }
        @include mq('md', max) {
          font-size: 0.6rem;
        }
        @include mq('sm', max) {
          font-size: 0.8rem;
        }
      }
    }
  }
}
